:root {
  --white-background: #ffffff;
  --active-link: #404bbf;
  --theme-dark: #2e2f42;
  --text: #434455;
  --theme-light: #f4f4fd;
  --logo-color: #4d5ae5;
  --borber-btn: #e7e9fc;
  --modal-background: #fcfcfc;
  --soc-hover: #31d0aa;
  --subtle-text: #8e8f99;
  --hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white-background);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--borber-btn);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-header {
  display: flex;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  text-transform: uppercase;
  margin-right: 76px;
}
.header-span {
  color: var(--theme-dark);
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--theme-dark);
  padding: 24px 0;
  transition: color var(--hover);
}
.header-link:hover,
.header-link:focus {
  color: var(--active-link);
}
.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  transition: color var(--hover);
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
  color: var(--active-link);
}
.current {
  color: var(--active-link);
}
.current::after {
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--active-link);
  display: block;
}
.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--theme-dark);
  text-align: center;
  padding: 188px 0;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-background);
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  background-color: var(--logo-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  cursor: pointer;
  display: block;
  min-width: 169px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  padding: 16px 32px;
  transition: background-color var(--hover);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--active-link);
}
.discrp {
  padding: 120px 0;
}
.discrp-list {
  display: flex;
  gap: 24px;
}
.discrp-list li {
  width: calc((100%-72px) / 4);
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-light);
  height: 112px;
  width: 264px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.discrp-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--theme-dark);
  margin-bottom: 8px;
}
.discrp-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.doing {
  padding-bottom: 120px;
}
.doing-list {
  display: flex;
  gap: 24px;
}
.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--theme-dark);
  margin-bottom: 72px;
}
.team {
  background-color: var(--theme-light);
  padding: 120px 0;
}
.team-item {
  background-color: var(--white-background);
  width: calc((100%-72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--theme-dark);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-container {
  padding: 32px 0;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--theme-dark);
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  text-align: center;
  margin-bottom: 8px;
}
.team-soc-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--logo-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color var(--hover);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--active-link);
}
.team-soc-icons {
  fill: var(--theme-light);
}
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-title {
  color: var(--theme-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.customers-items {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--subtle-text);
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  transition: border-color var(--hover), color var(--hover);
  width: 100%;
  height: 100%;
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--active-link);
  color: var(--active-link);
}
.customers-icon {
  fill: currentColor;
}
.footer {
  background-color: var(--theme-dark);
  min-height: 312px;
  padding: 100px 0;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-span {
  color: var(--theme-light);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--theme-light);
  max-width: 264px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-info-container {
  margin-right: 120px;
}
.footer-soc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
}
.footer-list {
  display: flex;
  gap: 16px;
}
.footer-items {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--logo-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color var(--hover);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--soc-hover);
}
.footer-soc-icon {
  fill: #f4f4fd;
}
.footer-subscribe {
  margin-left: 80px;
}
.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  background-color: transparent;
  width: 264px;
  height: 40px;
  border: 1px solid var(--white-background);
  border-radius: 4px;
  padding-left: 16px;
  color: var(--white-background);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  min-width: 165px;
  height: 40px;
  background: var(--logo-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  fill: var(--white-background);
}
.footer-subscribe-icon {
  margin-left: 16px;
}
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-list-button {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: var(--theme-light);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--borber-btn);
  border-radius: 4px;
  transition: background-color var(--hover), color var(--hover),
    box-shadow var(--hover), border-color var(--hover);
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--active-link);
  color: var(--white-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}
.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-border {
  width: calc((100% - 48px) / 3);
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid var(--borber-btn);
  border-top: none;
}
.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--theme-dark);
  margin-bottom: 8px;
}
.portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.portfolio-cover {
  position: relative;
  overflow: hidden;
}
.portfolio-cover-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--theme-light);
  background-color: var(--logo-color);
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  transition: transform var(--hover);
}
.portfolio-list-link:hover .portfolio-cover-text,
.portfolio-list-link:focus .portfolio-cover-text {
  transform: translateY(0);
}
.portfolio-list-link {
  transition: box-shadow var(--hover);
  display: block;
}
.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--hover), visibility var(--hover);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--hover);
  padding: 72px 24px 24px 24px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-button {
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: var(--borber-btn);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color var(--hover), border var(--hover);
}
.modal-icon {
  transition: fill var(--hover);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--active-link);
  border: none;
}
.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
  fill: var(--white-background);
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--theme-dark);
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}
.input-wrap {
  position: relative;
}
.modal-input {
  display: inline-block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color var(--hover);
}
.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--logo-color);
}
.modal-input:focus + .modal-icons {
  fill: var(--logo-color);
}
.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
  margin-bottom: 4px;
}
.modal-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--theme-dark);
  transition: fill var(--hover);
}
.modal-field-comment {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color var(--hover);
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17x;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-checkbox {
  margin-bottom: 24px;
}
.check-text {
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}
.check-text-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-text a {
  color: var(--logo-color);
  text-decoration: underline;
}
.input-check:checked + .check-text span {
  background-color: var(--active-link);
  border-color: var(--active-link);
  fill: var(--theme-light);
  border: none;
}
.modal-btn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  color: var(--white-background);
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  border: none;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover {
  background-color: var(--active-link);
}
